<!doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>{{ show_detail.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' show_detail.id %}">Edit</a>
                    <a href="{% url 'todo_list_delete' show_detail.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in show_detail.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' show_detail.id %}">{{ item.task }}</a>
                                </td>
                                <td>{{ item.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <main>
                <footer>
                </footer>
            </body>
        </html>
