<!doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create new list</a>
                    <a href="{% url 'todo_item_create' %}">Create new item</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in todo_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'todolist_detail' list.id %}">{{ list.name }}</a>
                                </td>
                                <td>{{ list.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <main>
                <footer>
                </footer>
            </body>
        </html>
