<!doctype html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>Update item</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Update</button>
                </form>
            </div>
            <main>
                <footer>
                </footer>
            </body>
        </html>
